.cursor {
  z-index: 1000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.link-grow {
  -webkit-transform: scale(3.5);
          transform: scale(3.5);
  background-color: #0a0a0a;
}
